.noborder-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.channelActiv{
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}
.channelActiv:focus{
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}
.channelActiv:active{
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}